@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../font/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../font/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../font/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../font/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../font/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

body, html
{
	background-color: #f8f8f8 !important;
}

.main-color-background,
.main-color-background:hover
{
	background-color: #26aeee;
}
.main-color
{
	color: #26aeee;
}

.intro
{
	text-align: center;
	padding-top: 42px;
	padding-bottom: 42px;
	margin-bottom: 50px;
}

.intro h1
{
	font-family:"Roboto";
	font-weight: 300;
	font-size: 26px;
    margin: 0;
}

.intro h2
{
    margin: 0;
    line-height: 1;
    height: 24px;
}
.follow_me {
    margin-top: -6px;
    margin-bottom: 6px;
}
.follow_me i {
    font-size: 24px;
    height: 24px;
    width: 32px;
    margin: 0 10px 0 0;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: transparent;
    opacity: 0.5;
    color: #444;
}
.follow_me i:hover {
    opacity: 0.9;
    color: white;
    background: transparent;
}

.fa-twitter:before { content: "\f099"; }
.fa-facebook:before { content: "\f09a"; }
.fa-github:before { content: "\f09b"; }
.fa-linkedin:before { content: "\f0e1"; }
.fa-google-plus:before { content: "\f0d5"; }
.fa-bitbucket:before { content: "\f171"; }
.fa-google:before { content: "\f1a0"; }
.fa-android:before { content: "\f17b"; }

.intro h5
{
	background-color: #f5f5f5;
	padding: 10px;
	color: #333333;
	display: inline-block;
	font-size: 14px;
    margin-top: 4px;
}


.about .col
{
	margin-bottom: 24px;
}

.about h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.about h6
{
	text-align: center;
	margin-bottom: 45px;
}

.about hr
{
	width: 40px;
	margin-bottom: 45px;
}

.about .card {
	text-align: center;
}

.about .card img {
	margin-bottom: 15px;
}


.portfolio .card .card-image {
	height: auto;
}
.portfolio .card .card-image:before {
    z-index: 1;
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	top: 60px;
	bottom: 0;
	background: -webkit-linear-gradient(to top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 30%, transparent 100%);
	background: -o-linear-gradient(to top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 30%, transparent 100%);
	background: -moz-linear-gradient(to top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 30%, transparent 100%);
	background: linear-gradient(to top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 30%, transparent 100%);
}
.portfolio .card .card-image .card-title {
	z-index: 2;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 20px;
}
.portfolio .card .card-content p {
	font-weight: 300;
	font-size: 18px;
}
.portfolio .card .card-content ul {
	margin: 4px 0;
	font-size: 13px;
}

.portfolio .card {
	transition: all 0.3s ease-out;	
}
.portfolio .card:hover {
	transition: all 0.3s ease-out;
    box-shadow: 0 6px 20px #AFAFAF;
}
.portfolio .card a {
	color: rgba(0, 0, 0, 0.870588);
}

.portfolio .card a.btn {
	color: white;
    padding: 1px 9px 0px 9px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    height: 26px;
}
.portfolio .card a.btn + a.btn {
	margin-left: 6px;
}

.portfolio .col
{
	margin-bottom: 24px;
}

.portfolio h5
{
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.portfolio h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.portfolio hr
{
	width: 40px;
	margin-bottom: 45px;
}

.portfolio .portfolio-holder
{
	clear: both;
	text-align: center;
}

.portfolio img
{
	width: calc(33% - 10px);
	display: inline-block;
	float: left;
}

.materialboxed
{
	margin: 5px;
}

.contact .col
{
	margin-bottom: 24px;
}

.contact h5
{
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.contact h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.contact hr
{
	width: 40px;
	margin-bottom: 45px;
}

.contact .contact-holder
{
	padding-left: 40px;
	text-align: left;
}

.contact .contact-holder h6
{
	margin-bottom: 15px;
	text-align: left;
}

.contact .contact-holder p
{
	margin-bottom: 30px;
}
footer
{
	padding-top: 0px;
	padding-bottom: 24px;
}


.card.small,
.card.small .card-content {
    height: auto;
}